# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local builds
.DS_Store
dist/
_site/

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*
!.env.example
